$break-small: 719px;

.show-modal {
  margin: 25px 0 0 0;

  button {
    background: steelblue;
    color: whitesmoke;
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    border: 1px solid whitesmoke;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: powderblue;
      color: steelblue;
      border: 1px solid steelblue;
    }
  }
}

.modal-wrapper {
  height: 700px;
  overflow-y: auto;
  background: white;
  border: 1px solid #d0cccc;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  margin: 0;
  transition: all 0.8s;
  width: 100%;
  position: absolute;
  z-index: 100;

  @media screen and (max-width: $break-small) {
    height: 500px;
    overflow-y: auto;
  }

  .modal-header {
    background: #747d8c;
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    text-align: center;

    h3 {
      color: #ffffff;
      margin: 0;
      padding: 0;
    }
  }

  .modal-body {
    padding: 10px 15px;
  }

  .modal-footer {
    background: whitesmoke;
    height: 35px;
    padding: 15px;
    border-top: 1px solid #a4b0be;

    .btn-cancel {
      background-color: tomato;
      float: right;
      border: none;
      color: white;
      cursor: pointer;
      font-weight: bold;
      outline: none;
      border-radius: 4px;
      padding: 10px 25px;

      &:hover {
        background-color: lightsalmon;
      }
    }
  }
}
